# virtual environments
venv/
.venv/

# env files
.env

# python cache
__pycache__/
*.py[cod]

# HuggingFace / Transformers cache (VERY IMPORTANT)
.cache/
.huggingface/
~/.cache/huggingface/

# FAISS / embeddings artifacts (if you save them later)
*.faiss
*.index

# Logs
*.log